NODE_ENV=development
PORT=7000
MONGODB_URI="mongodb://127.0.0.1:27017/express-boilerplate"
FRONTEND_URL="http://localhost:3000"

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
# Number of minutes after which a verify phone token expires
JWT_VERIFY_PHONE_EXPIRATION_MINUTES=10

# Sendgrid API Keys for email service
SENDGRID_API_KEY=""
OWNPROP_EMAIL=""

# Nodemailer
MAILER_EMAIL="rswfgadchanjucca@ethereal.email"
MAILER_PASS="jDr3bYyrcrcwad7RxH"
MAILER_EMAIL=""
MAILER_PASS=""